/*/ AJUSTES GERAIS /*/
body {
    font-family: 'Montserrat' !important;
    background-color:#f8f9fa;
}
.shadow-default {
    -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
}
ul{
    padding: 0;
    margin: 0;
}
a {
    color: #333;
}
.container{
    max-width: 95.36743rem;
}
.border-clean {
    border: 1px solid #eee;
}
.bg-black {
    background-color:#000;
}

/*/ CABECALHO /*/
#cabecalho {
    background: #fff;
}
#cabecalho .container {
    overflow:hidden;
}
#cabecalho .row {
    align-items: center;
}
#cabecalho ul li {
    display: inline-block;
}
.botoes-config li a {
    padding: 0px 0px !important;
    border-radius: 50px;
    width: 37px;
    text-align: center;
    line-height: 35px;
    border-radius: 50px;
    display: inline-block;
    color: #555;
    border: 1px solid #eee;
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ededed', GradientType=0 );
}
.botoes-config li a:hover{
    background: rgba(75,232,219,1);
    border: 1px solid rgb(51, 190, 179);
    background: -moz-linear-gradient(top, rgba(75,232,219,1) 0%, rgba(32,175,227,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(75,232,219,1)), color-stop(100%, rgba(32,175,227,1)));
    background: -webkit-linear-gradient(top, rgba(75,232,219,1) 0%, rgba(32,175,227,1) 100%);
    background: -o-linear-gradient(top, rgba(75,232,219,1) 0%, rgba(32,175,227,1) 100%);
    background: -ms-linear-gradient(top, rgba(75,232,219,1) 0%, rgba(32,175,227,1) 100%);
    background: linear-gradient(to bottom, rgba(75,232,219,1) 0%, rgba(32,175,227,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4be8db', endColorstr='#20afe3', GradientType=0 );
    color: #fff;
}

/*/ CORPO /*/
#corpo .row {
    width: 100%;
    margin: 0;
}
#corpo .table-painel {
    border: 1px solid #f9f9f9;
}
#corpo .table-painel thead {
    background-color: #f5f5f5;
}
#corpo #aplicacoes {
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 3px;
}
#corpo .status-app {
    padding: 5px 15px;
    border-radius: 50px;
    color: #fff;
    font-size: 13px;
    text-transform: lowercase;
    font-weight: 600;
}
#corpo .status-app.ativo-s{
    background-color: rgb(0, 221, 99);
}
#corpo .status-app.inativo-s{
    background-color: rgb(255, 0, 43);
}

#corpo .config-app {
    background-color: #f5f5f5;
    padding: 8px 10px !important;
    border-radius: 50px;
    color: #555;
    border: 1px solid #eee;
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ededed', GradientType=0 );
}

#corpo .config-app:hover{
background: rgba(75,232,219,1);
border: 1px solid rgb(51, 190, 179);
background: -moz-linear-gradient(top, rgba(75,232,219,1) 0%, rgba(32,175,227,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(75,232,219,1)), color-stop(100%, rgba(32,175,227,1)));
background: -webkit-linear-gradient(top, rgba(75,232,219,1) 0%, rgba(32,175,227,1) 100%);
background: -o-linear-gradient(top, rgba(75,232,219,1) 0%, rgba(32,175,227,1) 100%);
background: -ms-linear-gradient(top, rgba(75,232,219,1) 0%, rgba(32,175,227,1) 100%);
background: linear-gradient(to bottom, rgba(75,232,219,1) 0%, rgba(32,175,227,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4be8db', endColorstr='#20afe3', GradientType=0 );
color: #fff;
}
#parceiros, #temas, #parceiros *, #temas * {
    border-radius: 4px !important;
}


/*/ RODAPE /*/
#rodape {
    position: relative;
    background: #fff;
    padding: 20px 0px;
    border-top: 2px solid #f5f5f5;
}
#rodape .row {
    align-items: center;
}
#rodape .direitos-autorais {
    font-size: 15px;
}
#rodape .redes-sociais ul li{
    display: inline-block;
}
#rodape .social-icon {
    font-size: 20px;
}

@media screen and (min-width: 1400px){
    #parceiros{
        padding-left: 0px !important;
    }
    #temas {
        padding-right: 0px;
    }
    #rodape {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
}


/*/ MEDIA MOBILE ATE 550PX /*/
@media screen and (max-width:550px){

    /*/ CORPO /*/
    #parceiros, #temas, #parceiros *, #temas * {
        padding:0;
    }

    /*/ RODAPE /*/
    #rodape .redes-sociais, #rodape .direitos-autorais {
        text-align: center !important;
    }
    #rodape .direitos-autorais {
        font-size: 14px;
    }
}